<!DOCTYPE html 
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="generator" content="nanoc 3.1.5">
    <title>PyChess - <%= @item[:title] %></title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen">
    <!--<script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAjcXDak_wzCOwuLfPk9DGiBSrS0qGPgFuybFdOOQl6BddBSDoohSe7uHZpNXd9JtnU3y8CdfTX-xCaA" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
      $("#header a").hover(function() {
        $("#home_but").addClass("hover");
      }, function() {
        $("#home_but").removeClass("hover");
      });
    });
    </script>
  </head>
  <body>
    <div id="container">
      
      <!-- The slightly floating logo thingy in the upper left corner -->
      <div id="header">
        <a href="/" id="logo"><img src="/images/logo.png"/></a>
        <a href="/" id="pychess"><img src="/images/pychess.png"/></a>
      </div>

      <ul id="navlist">
        <li><a class="<%= button_class_helper(/index/,@item) %>" id="home_but"
          href="/" title="To the Front Page">
          <span>Home</span></a></li>
        <li><a class="<%= button_class_helper(/about/,@item) %>"
          href="/about" title="Everybody Loves Screenshots!">
          <span>About & Screens</span></a></li>
        <li><a class="<%= button_class_helper(/download/,@item) %>"
          href="/download" title="Download Binaries and Sources">
          <span>Download</span></a></li>
        <li><a class="<%= button_class_helper(/news/,@item) %>"
          href="/news" title="News Blog and Updates">
          <span>News</span></a></li>
        <li><a class="<%= button_class_helper(/community/,@item) %>" id="last_but"
          href="/community" title="The Community">
          <span>You & PyChess</span></a></li>
      </ul>

    <%# Root url does not draw the borders (which comprising of a couple of shadows and a footer) and instead shows a front page %>
    <% unless @item.identifier == '/' %>

      <div id="content">
        <%= yield %>
      </div>

      <div id="footer">
      </div>

    <% else %>

      <div id="fp_top">
        <h2>PyChess <span class="keyword">Staunton</span><br/>
            plays chess better than <span class="keyword">you</span>*</h2>
      </div>

      <div id="fp_middle">
          <a href="/about" id="fp_col_1"><span>Have a Peek</span><!--<img id="peek_box" src="/images/peek_box.png"/>--></a>
          <a href="/download" id="fp_col_2"><span>PyChess - Free Download</span></a>
      </div>

      <div id="fp_bottom">
        <h3>*Or it will find someone who does</h3>
      </div>

    <% end %>
    
    </div>
  </body>
</html>
